/* Reservation styling */
h5 {
    color: var(--secondary-font-color);
    font-size: 1.4rem;
    font-weight: l00;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.hero {
    height: 85vh !important;
    overflow: visible;
    background: #5f5f5f42 url("../images/reservations.jpg") center no-repeat;
    background-size: cover;
}

.hero .container {
    margin-bottom: -300px;
}

.headline {
    color: #fff;
    font-size: 3.1rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    margin-right: -0.5rem;
    animation: scale .5s forwards;
}

.sub-container {
    height: 100%;
    width: 450px;
}

.form-container {
    position: relative;
    height: 100%;
    padding: 26px 20px 24px;
    border-radius: 25px;
    margin-left: 30px;
}

.form-container::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-font-color-dark);
    mix-blend-mode: multiply;
    border-radius: 25px;
}

.wrap {
    position: relative;
}

#form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#form-content input {
    width: 100%;
    height: 3.5rem;
    margin-top: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 48px;
    border: .5px solid rgb(202, 202, 202);
    outline: none;
}

#form-content textarea,
#form-content select {
    width: 100%;
    padding-left: 15px;
    border: .5px solid rgb(202, 202, 202);
    outline: none;
}

#form-content select {
    margin-top: 5px;
    height: 35px;
    padding-left: 15px;
    border-radius: 48px;
}

#form-content textarea {
    margin-top: 15px;
    height: 140px;
    padding-top: 10px;
    resize: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: var(--body-font);
}

#form-content input:last-child {
    padding-left: 0px;
}

#form-content input[type=date],
input[type=time] {
    padding-right: 15px;
}

#form-content input[type=time] {
    margin-left: 10px;
    padding-left: 15px;
}

.order-amount-field {
    display: flex;
    flex-direction: column;
}

.order-amount-field label {
    align-self: flex-start;
    font-size: 1.5rem;
    color: #fff;
    margin-top: 15px;
    margin-left: 5px;
    font-family: var(--body-font);
}

#form-content .submit-container {
    align-self: center;
}

#form-content input[type=submit] {
    position: relative;
    width: 130px;
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--secondary-font-color);
    font-family: var(--body-font);
    border: none;
}

input[type=submit]:hover {
    opacity: .9;
    top: 0.5px;
    left: 0.5px;
}

input[type=submit]:focus {
    opacity: .9;
    top: 1.5px;
    left: 1.5px;
}

.date-time {
    display: flex;
    justify-content: space-between;
}

.date-time>input {
    width: 100%;
}

/* Footer begins here  */
footer {
    margin-top: 200px;
}

.footer-copyright p {
    margin-top: 20px;
    font-size: 1.1rem;
    font-weight: lighter;
}
